/* Small Devices (up to 428px) */
@media screen and (min-width:320px) and (max-width: 480px) {
  section {
    height: auto;
    padding: 30px 0;
  }
  .section-box {
    height: auto;
  }
  header {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .header-logo {
    font-size: 20px;
    margin: 15px 0;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }
  .nav-items {
    font-size: 14px;
  }
  .hero-content h3 {
    font-size: 1.5rem;
    letter-spacing: 10px;
    text-align: center;
  }
  .hero-content h1 {
    font-size: 2rem;
    letter-spacing: 1.5px;
    margin-top: 10px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 0;
  }
  .hero-content {
    padding: 40px 0;
  }
  .hero-img {
    width: 100%;
    margin-bottom: 0px;
    margin-top: auto;
  }
  .hero-btn {
    margin-top: 30px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .content-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 5%;
  }
  .about-img {
    width: 100%;
  }
  #about .left-grid p {
    font-size: 14px;
    text-align:center; 
  }
  #about .left-grid h3 {
    font-size: 40px; 
    text-align: center;
    text-shadow: 2px 0px 5px black;
    
  }
  #projects .left-grid h3{
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 0px 5px black;
  }

  #projects .left-grid p{
    font-size: 14px;
    text-align: justify; 
    

  }
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-align: center;
  }
  #join-us .content-wrap {
    padding: 40px 5%;
  }
  #join-us .content-wrap h3{
    font-size: 42px;
    text-align:center;
    text-shadow: 2px 0px 5px black;
  }

  #join-us .content-wrap h2{
    font-size: 24px;
  }
  .input-1 {
    width: 85%;
    padding: 0 15px;
  }
  .checkbox-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
  }
  #join-us .section-title {
    text-align: center;
    font-size: 2.8rem;
    margin-top: 10px;
  }
  #join-us .join-btn{
    width: 90%;
  }

  #resources-content {
    width: 80%; 
  }

  #resources-content .section-box {
    padding: 20px 30px; 
    width: 80%; 
  }

  #resources-content .section-box h1 {
    text-shadow: 2px 0px 5px black;
    font-size:30px;

  }



  #resources-content .section-box p {
    font-size: 20px;
  }

  .resources-grid {
    grid-template-columns: 1fr;
    padding: 0 20px; 
  }

  .resource-category {
    height: auto; 
    padding: 15px; 
  }

  .resource-category h3 {
    font-size: 1.5rem; 
  }

  .resource-category ul li a {
    font-size: 0.9rem; 
  }

  #gallery .section-box h3 {
    font-size: 48px; 
}
#gallery .section-title{
  margin-left: 40px;
  color:white;
  font-size:38px;
  /* align-items: center; */
  /* text-align: center; */
}
.gallery-grid img {
  display: block; /* Ensures the image is treated as a block element */
  /* margin-left:0; /* Automatically adjusts the left margin */
  /* margin:10%;  */
  width: 80%; 
  align-items: center;
}

#blog .section-box{
  padding: 10px;
}
  .blog-container {
    width: 90%; 
    /* padding: 15px;  */
  }

  .blog-grid {
    flex-wrap: wrap; 
    /* gap: 20px; */
   }

   .blog-grid h3 {
    text-align: center;
    font-size:14px;
   } 

   #blog .blog-grid p{
    text-align:center;
   }

   #blog .blog-card {
    width: 80%; 
    margin-top: 10px; 
    /* padding:30px;  */
  }

  .blog-image {
    height: 150px; 
  }

  .blog-title {
    font-size: 1.2rem; 
  }

  .blog-description {
    font-size: 0.9rem; 
  }


  .footer-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .footer-items {
    font-size: 14px;
    text-align: center;
  }
}

/* Tablet (up to 1279px) */
@media screen and (min-width: 429px) and (max-width: 1279px) {
  section {
    height: auto;
    padding: 50px 0;
  }
  header {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .header-logo {
    font-size: 24px;
    margin: 20px 0;
  }
  nav {
    flex-direction: column;
    gap: 30px;
  }
  .nav-items {
    font-size: 18px;
  }
  .hero-content h3 {
    font-size: 1.8rem;
    letter-spacing: 25px;
    text-align: center;
  }
  .hero-content h1 {
    font-size: 5rem;
    letter-spacing: 2px;
    margin-top: 30px;
    line-height: 1.2;
    text-align: center;
  }
  .hero-content {
    padding: 50px 0;
  }
  .hero-img {
    width: 100%;
    margin-top: 50px;
  }
  .hero-btn {
    margin-top: 50px;
    font-size: 22px;
  }
  .content-grid {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 5%;
  }
  .about-img {
    width: 100%;
  }
  .section-title {
    font-size: 3.2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  #join-us .content-wrap {
    padding: 50px 5%;
  }
  .input-1 {
    width: 85%;
    padding: 0 20px;
  }
  .checkbox-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
  }
  #join-us .section-title {
    text-align: center;
    font-size: 3rem;
    margin-top: 10px;
  }
  .footer-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .footer-items {
    font-size: 16px;
    text-align: center;
  }
}

/* Desktop (1280px and above) */
@media screen and (min-width: 1280px) {
  section {
    height: auto;
    padding: 50px 0;
  }
  header {
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
  }
  .header-logo {
    font-size: 28px;
  }
  nav {
    flex-direction: row;
    gap: 30px;
  }
  .nav-items {
    font-size: 18px;
  }
  .hero-content h3 {
    font-size: 1.8rem;
    letter-spacing: 25px;
  }
  .hero-content h1 {
    font-size: 6rem;
    letter-spacing: 2px;
    margin-top: 30px;
    line-height: 1.2;
    text-align: left;
  }
  .hero-img {
    width: 50%;
  }
  .hero-btn {
    margin-top: -120px;
    font-size: 22px;
  }
  .content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 50px 5%;
  }
  .about-img {
    width: 100%;
  }
  .section-title {
    font-size: 3.2rem;
    margin-bottom: 20px;
    text-align: left;
  }
  #join-us .content-wrap {
    padding: 50px 5%;
  }
  .input-1 {
    width: 80%;
    padding: 0 20px;
  }
  .checkbox-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    font-size: 18px;
  }
  #join-us .section-title {
    text-align: left;
    font-size: 3rem;
    margin-top: 10px;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 0 50px;
  }
  .footer-items {
    font-size: 16px;
    text-align: left;
  }
}
